# Exclude all.gradle
/*

# Include git important files
!.gitignore
!.gitattributes

# Include gradle build file
!gradle/
!gradlew
!gradlew.bat
!build.gradle

# Include source
!src/

# Include mds
!DESIGN.md
!README.md