# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Eclipse Files
.classpath
.project
.settings/

bin/

# Emacs generated
*~
.#*
*#

# Tests
src/test/